html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    background-color: lightgray;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  