body {
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: blue;
    font-style: italic;
}

p {
    text-align: center;
    font-style: italic;
    font-size: 20px;
}